<script>
import {mapActions} from "vuex";

export default {
  name: "create_trip",
  data() {
    return {
      destination: undefined,
      duration: undefined,
      price: undefined,
    }
  },
  async created() {
    await this.loadList();
  },
  computed: {
    isValid() {
      return this.price == undefined || this.duration == undefined || this.price == undefined
    }
  },
  methods: {
    ...mapActions(["addItem", "loadList"]),
    createTrip() {
      if (!this.isValid) {
        let temp = {
          destination: this.destination,
          price: parseInt(this.price),
          duration: parseInt(this.duration)
        }
        this.addItem(temp)
            .then(() => {
              this.loadList()
              this.$router.push('/');
            })
            .catch((error) => {
              alert(error)
            });
      }
    }
  },

}
</script>

<template>
  <h2>Створити поїздку</h2>
  <div class="create-form">
    <input type="text" v-model="destination" placeholder="Пункт відпочинку">
    <input type="number" min="1" v-model="duration" placeholder="Тривалість">
    <input type="number" min="1" v-model="price" placeholder="Ціна за людину">
    <button @click="createTrip()">Створити</button>
  </div>
</template>

<style scoped>

</style>