
<script>
import {mapActions, mapGetters} from "vuex";
export default {
  name: "trips_list",
  computed:{
    ...mapGetters(["getItemsList"])
  },
  methods: {
    ...mapActions(["loadList"]),
  },
  created() {
    this.loadList();
  }
}
</script>

<template>
<h3>Список поїздок</h3>
  <div class="list">
    <div class="trip" v-for="trip in this.getItemsList" :key="trip.id" @click="$router.push(`/trip/${trip.id}`)">
      <p>Пункт відпочинку: {{trip.destination}}</p>
      <span>Тривалість: {{trip.duration}} днів</span>
      <p>Ціна: {{trip.price}}₴/людину</p>
    </div>
  </div>
</template>

<style>
.list{
  width: 80vw;
  display:flex;
  margin: 20px 0;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10vw;
  justify-content: space-evenly;
}
.trip{
  padding: 20px;
  transition: box-shadow ease-out .3s;
  border: 1px solid #2c3e50;
  border-radius: 15px;
  width: 18vw;
}
.trip:hover{
  transition: box-shadow ease-out .3s;
  cursor: pointer;
  box-shadow: 0px 0px 5px #2c3e50;
}
</style>