<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "trip_search",
  data() {
    return {
      search: "",
      selector: "1",
      local_trips:[]
    }
  },
  computed: {
    ...mapGetters(["getItemsList"])
  },
  methods: {
    ...mapActions(["loadList"]),
    bindSearch(){
      this.local_trips = this.searchTrip();
    },
    searchTrip() {
      switch (this.selector) {
        case "1":
          return this.getItemsList.filter((object) => {
            return object.destination.toLowerCase().includes(this.search.toLowerCase());
          });
        case "2":
          return this.getItemsList.filter((object) => {
            return object.duration === parseInt(this.search);
          });
        case "3":
          console.log(parseInt(this.search))
          return this.getItemsList.filter((object) => {
            return object.price >= parseInt(this.search);
          });
        case "4":
          return this.getItemsList.filter((object) => {
            return object.price <= parseInt(this.search);
          });
        case "5":
          return this.getItemsList.filter((object) => {
            return object.id
                .toLowerCase()
                .includes(this.search.toLowerCase());
          });
      }
    }
  },
  created() {
    this.loadList();
  }
}
</script>

<template>
  <h2 id="search_title">Пошук поїздки</h2>
  <div class="search">
    <input type="text" v-model="search" placeholder="Пошук">
    <select v-model="selector">
      <option value="1" selected>За назвою</option>
      <option value="2">За тривалістю</option>
      <option value="3">Ціна більша</option>
      <option value="4">Ціна менша</option>
      <option value="5">За ID</option>
    </select>
    <button @click="bindSearch()">Пошук</button>
  </div>
  <div class="list">
    <div class="trip" v-for="trip in this.local_trips" :key="trip.id" @click="$router.push(`/trip/${trip.id}`)">
      <p>Пункт відпочинку: {{trip.destination}}</p>
      <span>Тривалість: {{trip.duration}} днів</span>
      <p>Ціна: {{trip.price}}₴/людину</p>
    </div>
  </div>
</template>

<style>
#search_title, .search {
  margin: 20px 0;
}
</style>