<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "trip_page",
  computed: {
    ...mapGetters(["getItemById"]),
    routeId() {
      return this.$route.params.id;
    }
  },
  data() {
    return {
      trip: {}
    }
  },
  methods: {
    ...mapActions(["loadList"]),
    ...mapActions(['deleteItem']),
    deleteItemFunc(id) {
      this.deleteItem(id);
      this.$router.push('/');
    }
  },
  async mounted() {
    await this.loadList();
    this.trip = this.getItemById(this.routeId)
    if (!this.trip) {
      this.$router.push('/');
    }
  }

}
</script>

<template>
  <h2>Сторінка</h2>
  <div class="data" v-if="this.trip">
    <h3>ID : {{ routeId }}</h3>
    <p>Пункт відпочинку : {{ trip.destination }}</p>
    <p>Тривалість : {{ trip.duration }} днів</p>
    <p>Ціна : {{ trip.price }}₴/людину</p>
    <button @click="deleteItemFunc(trip.id)">Видалити поїздку</button>
  </div>
</template>

<style scoped>
.data {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
</style>