<template>
  <div class="links">
    <router-link to="/">Головна</router-link>
    <router-link to="/search">Пошук поїздки</router-link>
    <router-link to="/create">Створити поїздку</router-link>
  </div>
  <router-view></router-view>
  <h3>Завдання</h3>
  <p>5. Довідник туристичної фірми. База даних містить відомості про туристичні поїздки:
    пункт відпочинку, тривалість відпочинку, вартість обслуговування однієї людини.
    Організувати вибір за довільним запитом.</p>
</template>

<script>

export default {
  name: 'App',
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.links {
  border-bottom: 1px solid #2c3e50;
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 30px;
  width: 100vw;
  justify-content: center;

  a {
    color: #2c3e50;
    font-weight: bold;
    text-decoration: none;
  }
}
</style>
